<footer class="footer">
  <div class="row align-items-center justify-content-xl-between">
    <div class="col-xl-6">
      <div class="copyright text-center text-xl-left text-muted">
        &copy; {{ currentdate | date: "yyyy" }} <span href=""  target="_blank"> Copyright <a class="font-weight-bold ml-1"> {{project_name}}</a> . All Rights Reserved <br> <span style="font-size: 11.81px !important;">Designed By Neural Bridge AI Solution Pvt Ltd</span> </span>
      </div>
    </div>
    <!-- <div class="col-xl-6">
      <ul class="nav nav-footer justify-content-center justify-content-xl-end">
        <li class="nav-item">
          <a  class="nav-link" target="_blank">Erp Software&copy;SWIFTBIZ</a>
        </li>
        <li class="nav-item">
          <a  class="nav-link" >About Us</a>
        </li>
        <li class="nav-item">
          <a  class="nav-link" >Blog</a>
        </li>
        <li class="nav-item">
          <a href="" class="nav-link" >MIT License</a>
        </li>
      </ul>
    </div> -->
  </div>
</footer>
