<div class="header bg-gradient-danger py-7 py-lg-8">
    <div class="container">
      <div class="local-spacer header-body text-center mb-7">
        <div class="row justify-content-center">
          <div class="col-lg-5 col-md-6">
            <h1 class="text-white">Welcome!</h1>
            <p class="text-lead text-light">Enterprise Resource Planning Software of Swift Biz</p>
          </div>
        </div>
      </div>
    </div>
    <div class="separator separator-bottom separator-skew zindex-100">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </div>
  <!-- Page content -->
  <div class="local-spacer container mt--8 pb-5">
    <div class="row justify-content-center">
      <div class="col-lg-5 col-md-7">
        <div class="card bg-secondary shadow border-0">

<!--  FORGOT PASSWORD FORM ============================================== -->          
            <div *ngIf="!isEmailExist" class="card-body px-lg-5 py-lg-5">
                <div class="text-center text-muted mb-4">
                <small>Enter the email address associated with your account</small>
                </div>
                <form #forgotpass="ngForm" (ngSubmit)="onForgotPassword(forgotpass)" autocomplete="off">
                <div class="form-group mb-3">
                    <div class="input-group input-group-alternative">
                    <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                    </div>
                    <input class="form-control" placeholder="Email" type="text" name="email" [ngModel]="" #email="ngModel" required email>
                    </div>
                    <div *ngIf="email.invalid && email.touched" class="text-danger">{{email.errors['email']?  'email is invalid' : 'email is required!'}}</div>
                </div>
                <div class="text-center">
                    <input type="submit" [disabled]="forgotpass.invalid" class="btn btn-primary my-4" value="Continue">
                    <div *ngIf="email_verify_message" class="{{text_color?'text-primary':'text-danger'}}">{{email_verify_message}}</div>
                </div>
                </form>
            </div>
<!-- ==================================================================== -->
<!--  OTP VALIDATION FORM =============================================== -->          
            <div *ngIf="isEmailExist && !isOtpVerified" class="card-body px-lg-5 py-lg-5">
                <div class="text-center text-muted mb-4">
                <small>Enter 6 digits verification code sent to your email</small>
                </div>
                <form #otpvalidate="ngForm" (ngSubmit)="onOtpVerification(otpvalidate)" autocomplete="off">
                    <div class="form-group mb-3">
                        <div class="otp-field d-flex justify-content-around">
                            <input class="form-control" name="num1" type="text" ngModel onlyNumber maxlength="1" required>
                            <input class="form-control" name="num2" type="text" ngModel onlyNumber maxlength="1"  required>
                            <input class="form-control" name="num3" type="text" ngModel onlyNumber maxlength="1" required>
                            <input class="form-control" name="num4" type="text" ngModel onlyNumber maxlength="1" required>
                            <input class="form-control" name="num5" type="text" ngModel onlyNumber maxlength="1" required>
                            <input class="form-control" name="num6" type="text" ngModel onlyNumber maxlength="1" required>
                        </div>
                    </div>
                    <div class="text-center">
                        <input type="submit" [disabled]="otpvalidate.invalid" class="btn btn-primary my-4" value="Verify">
                        <div *ngIf="otp_verify_message" class="{{text_color?'text-primary':'text-danger'}}">{{otp_verify_message}}</div>
                    </div>
                </form>
            </div>
<!-- ==================================================================== -->
<!--  NEW PASSWORD VALIDATION FORM =============================================== -->          
            <div *ngIf="isOtpVerified" class="card-body px-lg-5 py-lg-5">
                <div class="text-center text-muted mb-4">
                  <small>Reset Password</small>
                </div>
                <form #newpass="ngForm" (ngSubmit)="newPassSet(newpass)">
                  <div class="form-group">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span (click)="passHideShow(0)" class="input-group-text">
                          <i *ngIf="isPassHide[0]" class="fa-solid fa-lock"></i>
                          <i *ngIf="!isPassHide[0]" class="fa-solid fa-lock-open"></i>
                        </span>
                      </div>
                      <input class="form-control" placeholder="Password" [type]="passType[0]" name="password" [ngModel]="" #pass1="ngModel" required minlength="5">
                    </div>
                    <div *ngIf="pass1.invalid && pass1.touched" class="text-danger">{{pass1.errors['required']?'password is required!' : 'password must be atleast 5 characters'}}</div>
                  </div>
                  <div class="form-group">
                    <div class="input-group input-group-alternative">
                      <div class="input-group-prepend">
                        <span (click)="passHideShow(1)" class="input-group-text">
                          <i *ngIf="isPassHide[1]" class="fa-solid fa-lock"></i>
                          <i *ngIf="!isPassHide[1]" class="fa-solid fa-lock-open"></i>
                        </span>
                      </div>
                      <input class="form-control" placeholder="Confirm Password" [type]="passType[1]" name="password1" [ngModel]="" #pass2="ngModel" required pattern="{{pass1.value}}">
                    </div>
                    <div *ngIf="pass2.invalid && pass2.touched" class="text-danger">{{pass2.errors['required']?'confirm password is required!':'password and confirm password does not match'}}</div>
                  </div>
                  <div class="text-center">
                    <input type="submit" [disabled]="newpass.invalid" class="btn btn-primary my-4" value="Update password">
                    <div *ngIf="pass_change_message" class="{{text_color?'text-primary':'text-danger'}}">{{pass_change_message}}</div>
                  </div>
                </form>
            <!-- ==================================================================== -->

            </div>
<!-- ==================================================================== -->

        </div>
      </div>
    </div>
  </div>