.otp-field > input {
  width: 50px;
  font-weight: bold;
  text-align: center;
  font-size: 25px;
}

input[type=submit] {
  cursor: pointer;
}


input[type=submit]:disabled {
  cursor: not-allowed;
}

