.mt--8, .my--8 {
    margin-top: -12rem !important;
}

.local-error {
    color: red;
}

.arrangement {
    margin-top: 5px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 12px;
}

.message {
    margin-top: 10px;
}

.local-spacer {
    position: relative;
    top: 50px;
}