<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
    <div class="container-fluid">
      <div class="header-body">
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid ">
    <div class="row">
      <div class="col-xl-12 order-xl-1">
        <div class="card bg-secondary shadow">
        
          <div class="card-body">
           
    <div class="container-fluid mainContainer mt-5">
      <header class="container-navbar">
          <div class="logo-container">
              <h1 class="display-1 logo-text">SI |</h1>
              <div class="company-info">
                  <span>Food Stuff</span><br>
                  <span>Packing Industry LLc</span>
              </div>
          </div>
      </header>
    
      <div class="watermark-container">
          <h1 class="watermark-text">SI</h1>
          <div class="container mt-5">
            
              
          </div>
          
          
      </div>
    
      <footer class="company-address">
          <h6>E4 AI Seeb International Umm Thaob 7 UAQ P.O .Box 450883</h6>
      </footer>
    </div>
          </div>
        </div>
      </div>
    </div>
  
  
  </div>
  
  
  
  